.App {
  text-align: left;
  max-width: 400px;
  margin: 0 auto;
}

.App-header {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
  padding: 30px;
}

.App-link {
  color: #61dafb;
}
